<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href=""/>
</head>
<body>
<div id="container" class="center-align">
<h1>Welcome to Grader</h1>

<a class="waves-effect waves-light btn-large" href="">Login</a>
<a class="waves-effect waves-light btn-large" href="">Register</a>
<br>
<br>
<a class="waves-effect waves-light btn-large" href="/todo">Things to Do</a>
</div>
<script type="text/javascript" src=""></script>
</body>
</html>